@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6,p,span,a {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

body {
  background-color: #000;
}

.eachprod:hover{
  background-color: rgb(112, 234, 112);
  transition: 0.5s;
}

::selection {
  background-color: #3bdf51; 
  color: #000000;
}